.container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-top: 2em;
  // TODO: 均等に2つ割付
  #todo {
      width: 100%;
      height: 100%;
      padding: 0 1em 0;
      max-height: 100%;
  }
  #calendar {
      width: 100%;
      height: 100%;
      padding: 0 1em 0;
  }
}

.cal {
  .cal-row {
      display: flex;
      justify-content: space-between;
      .cal-cell {
          border-right: 1px solid rgba(0, 0, 0, 0.125);
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
          width: calc(100%/7);
          height: 90px;
          padding: 4px;
      }
      .cal-cell:first-child {
          border-left: 1px solid rgba(0, 0, 0, 0.125);
      }
  }
  .cal-row:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .day-of-the-week {
      .cal-cell {
          height: 1.6em;
          text-align: center;
      }
  }
}

.todo-list {
}

.todo-card {
}